@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 18, 18, 22;
  --background-end-rgb: 18, 18, 22;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#scrollbar::-webkit-scrollbar {
  width: 8px;
}

#scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

#scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff7e;
  border-radius: 8px;
}

#scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b4b4b47e;
}
